/* Designed By: Mohamed Ali 2022
==================================
======= Johnson Controls Arabia ==========
==================================
*/
/* Main Fonts */
@font-face {
    font-family: "Maurea-BoldLf";
    src: url("../fire/fonts/Maurea-BoldLf.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Maurea-Light";
    src: url("../fire/fonts/Maurea-Light.otf") format("opentype");
    font-weight: lighter;
    font-style: normal;
}
:root {
  --first-color: #00539e;
  --second-color: #151515;
  --third-color: #ffffff;
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
::selection {
  background: var(--first-color);
  color: var(--third-color);
}
html {
  scroll-behavior: smooth;
}
body {
 font-family: "Maurea-BoldLf";
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #fafafa;
  outline: none;
}
*,
a,
div,
h1,
h2,
h3,
h4,
h5,
html,
img,
li,
p,
span {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}
.container {
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  max-width: 1440px;
  margin: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--second-color);
}

/* =========================
    =========== NAVBAR =========
    ============================ */
.navbar {
  background: transparent;
  position: inherit;
  width: 100%;
  z-index: 9;
  padding: 20px 0;
}
.navbar.scrolled {
  background-color: var(--third-color);
  transition: background-color 200ms linear;
  box-shadow: 0 5px 14px 0 rgb(0 0 0 / 8%);
}
.navbar.scrolled a {
  color: var(--second-color);
}
.navbar a {
  color: var(--second-color);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .logo {
  width: 140px;
  height: 100%;
}
.nav .logo img {
  width: 100%;
  height: 100%;
}
.nav .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  position: relative;
}
.nav .info a {
  font-size: 16px;
  padding: 25px 0;
  letter-spacing: 1px;
  outline: none;
  font-weight: 500;
  color: var(--third-color);
}
.nav .lang a {
  color: var(--third-color);
}
.req {
  background: var(--third-color);
  color: var(--second-color);
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-color: transparent;
  outline: none;
  border-radius: 30px;
  padding: 15px 40px;
  transition: 0.3s;
  cursor: pointer;
}
.req-white {
  background: var(--third-color);
  color: var(--second-color);
  cursor: pointer;
}
.req:hover {
  opacity: 0.9;
}
.navbar .info-mob {
  display: none;
}
@media screen and (max-width: 767px) {
  .nav .logo {
    width: 100px;
    height: 100%;
  }
  .navbar .req {
    padding: 15px;
  }
  .navbar .info {
    display: none;
  }
  .navbar .info-mob {
    display: block;
  }
  .navbar .info-mob .toggle {
    cursor: pointer;
  }
  .navbar .info-mob .toggle span {
    width: 30px;
    height: 2px;
    background: var(--third-color);
    display: block;
    position: relative;
  }
  .navbar .info-mob .toggle span:nth-child(1) {
    top: 10px;
  }
  .navbar .info-mob .toggle span:nth-child(3) {
    top: -10px;
  }

  .navbar .info-mob .info-more {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: column;
    width: 100%;
    background: var(--third-color);
    position: absolute;
    left: -100%;
    top: 47px;
    padding: 20px 20px;
    z-index: 2;
    transition: all 0.3s ease-in-out;
  }
  .navbar .info-mob .info-more.show {
    left: 0px;
  }
  .navbar .info-mob .info-more .request {
    margin-bottom: 30px;
    position: relative;
    width: 100%;
  }
  .navbar .info-mob .info-more .request::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .navbar .info-mob .info-more.show .req {
    background: var(--first-color);
    color: var(--third-color);
  }
  .navbar .info-mob .info-more .lang a {
    font-size: 22px;
  }
}

/* =========================
    ============================ */
.chiller {
  background: #fafafa;
  height: 100vh;
  position: relative;
  background: url('img/hero-bg.jpg') center center no-repeat;
  background-size: cover;
}
.chiller::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.chiller .details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  /* padding-top: 90px; */
  z-index: 1;
}
.chiller .details .side-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.chiller .details .side-info .info h1 {
  color: var(--third-color);
  font-size: 42px;
  font-family: "Maurea-BoldLf";
}
.chiller .details .side-info .info p {
  font-size: 26px;
  line-height: 1.7;
  margin-bottom: 30px;
  margin-top: 20px;
  color: var(--third-color);
  font-family: "Maurea-Light";
  font-weight: 500;
}
.chiller .details .side-info .more {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.chiller .details .side-info .more .video {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.chiller .details .side-info .more .video:hover {
  transform: translateX(2px);
  opacity: 0.95;
}
.chiller .details .side-info .more .video h3 {
  font-size: 18px;
  color: var(--third-color);
}
.chiller .details .side-info .more .video img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.chiller .details .side-img img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.chiller .logos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.chiller .logos img {
    width: 90px;
    height: 100%;
}
.details .date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
}
.details .date img {
  width: 32px;
  height: 32px;
}
.details .date h3 {
  color: var(--third-color);
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .chiller {
    height: auto;
    padding-bottom: 30px;
  }
  .chiller .details {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    padding-top: 20px;
  }
  .chiller .details .side-info .info p {
    font-size: 20px;
  }
  .chiller .req {
    padding: 15px 25px;
  }
}
@media screen and (max-width: 480px) {
  .chiller .details .side-info .info h1 {
    font-size: 26px;
  }
  .chiller .details .side-info .info p {
    font-size: 18px;
  }
  .chiller .details .side-info .more {
    flex-direction: column;
  }
  .chiller .details .side-info .more .video {
    margin-top: 0px;
    margin-left: 0;
  }
}
@media screen and (max-width: 360px) {
  .chiller .details .side-info .info h1 {
    font-size: 28px;
  }
  .chiller .details .side-info .info p {
    font-size: 18px;
  }
  .details .date h3 {
    font-size: 20px;
  }
}
/* Pop-up Form */
.pop-form {
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    position: fixed;
    background-color: var(--third-color);
    z-index: 9;
    overflow-y: hidden;
    transition: all 0.3s ease-in-out;
    backdrop-filter: opacity(50%);
    font-family: "Maurea-Light";
    font-weight: 500;
  }
  .pop-form.view {
    top: 0;
  }
  .pop-form .pop-content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pop-content .formbox-title {
    color: var(--second-color);
    text-align: center;
    margin-bottom: 20px;
  }
  .pop-content .formbox-titles {
    color: var(--third-color);
    text-align: center;
    margin-bottom: 20px;
  }
  .side-form {
    background: rgba(255, 255, 255, 0.2);
    padding: 50px 0;
    width: 75%;
    margin: 0 auto;
    border-radius: 5px;
    backdrop-filter: blur(3px);
  }
  .side-form .pop-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pop-form .pop-content .combin,
  .side-form .pop-content .combin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
  }
  .pop-form .pop-content .input-box,
  .pop-form .pop-content .form-groups,
  .side-form .pop-content .input-box,
  .side-form .pop-content .form-groups {
    margin-bottom: 15px;
    width: 100%;
  }
  .pop-form .pop-content p,
  .side-form .pop-content p {
    display: block;
    margin-bottom: 10px;
    color: var(--second-color);
    font-weight: 500;
  }
  .side-form .pop-content p {
    color: var(--third-color);
  }
  .pop-form .pop-content .input-box input,
  .pop-form .pop-content .form-groups select,
  .side-form .pop-content .input-box input,
  .side-form .pop-content .form-groups select {
    width: 100%;
    margin-bottom: 0px;
    padding: 10px 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #e1e1e1;
    border-radius: 4px;
    background-color: var(--third-color);
    -webkit-transition: border-color 300ms ease, border-color 300ms ease;
    transition: border-color 300ms ease, border-color 300ms ease;
    outline: none;
  }
  .pop-form .pop-content .input-box input:hover {
    border-color: #959595;
    color: #0a0a0a;
  }
  .side-form .pop-content .input-box input:hover {
    border-color: var(--third-color);
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .pop-form .pop-content .input-boxs .send,
  .side-form .pop-content .input-boxs .send {
    background: var(--first-color);
    color: var(--third-color);
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-color: transparent;
    outline: none;
    padding: 16px 20px;
    width: 150px;
    transition: 0.3s;
    cursor: pointer;
  }
  /* .side-form .pop-content .input-boxs .send {
    background: var(--third-color);
    color: var(--second-color);
  } */
  .pop-form .pop-content .input-boxs .send:hover,
  .side-form .pop-content .input-boxs .send:hover {
    opacity: 0.9;
  }
  .pop-form .pop-content .input-boxs .cancel,
  .side-form .pop-content .input-boxs .cancel {
    color: var(--second-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
    padding: 15px 20px;
    width: 150px;
    transition: all 0.2s;
    background: var(--third-color);
    border: 1px solid #a0a0a0;
    transition: all 0.3s ease-in-out;
    margin-left: 5px;
  }
  .side-form .pop-content .input-boxs .cancel {
    background: transparent;
    border: 1px solid var(--third-color);
    color: var(--third-color);
  }
  @media screen and (max-width: 767px) {
    .side-form {
      width: 100%;
      padding: 20px;
    }
    .pop-form .pop-content .combin {
      grid-template-columns: 1fr;
    }
    .formbox {
      width: 100%;
    }
  }
  @media screen and (max-width: 480px) {
    .pop-form .pop-content .combin {
      grid-template-columns: repeat(2, 1fr);
    }
    .pop-form .pop-content .input-boxs .send,
    .pop-form .pop-content .input-boxs .cancel {
      width: 125px;
    }
  }
  .footer {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer p {
    font-weight: 400;
    font-size: 12px;
    color: var(--second-color);
    font-family: "Maurea-Light";
  }
  
  @media screen and (max-width: 480px) {
    .footer p {
      font-size: 11px;
    }
  }

  /* Arabic */
  .ar {
    direction: rtl;
    font-family: "GE-Dinar-One-Bold";
    text-align: right;
  }
  .ar .side-form .pop-content .form-groups select option {
    font-family: "GE-Dinar-One-Bold";
  }
